<h1>Eat-a-Burger!</h1>

<h2>Make yo' own Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <p>{{burger_name}}</p> <button class="update" id={{id}}>Devour</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers ready to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{burger_name}}</p> <button class="delete" id={{id}}>Delete</button>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" id="dev"> devoured?<br>
  </div>

  <button id="addBurger" type="submit">Add Burger</button>
</form>