body {
  background-color: yellow;
  text-align: left;
  margin-left: 60px;
}
h1{
  color: red;
  font-family: 'Fredoka One', cursive;
  margin-top: 40px;
  text-align: center;
  font-size: 75px;
}
.update {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(245, 75, 75);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(40, 39, 39);
  margin-left: 55px;
}
h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  color: rgb(75, 21, 21);
}
p {
 font-family: 'Monoton', cursive;
 font-size: 25px;
 color: rgb(232, 73, 73);
 margin-left: 55px;
}
.delete {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:rgb(245, 75, 75);
  background-color:#fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(40, 39, 39);
  margin-left: 55px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
    color: rgb(11, 6, 6);
    font-family: 'Monoton', cursive;
    font-size: larger;
  }

  #addBurger{
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(11, 5, 5);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(40, 39, 39);
    margin-bottom: 40px;
  }
